PASS = "my_nickserv_pass"
CHANNEL = "#mywolfgame"
HOST = "irc.freenode.net"
PORT = 6667
USERNAME = ""  # for authentication, can be left blank if same as NICK
NICK = "mywolfbot"
CMD_CHAR = "!"
CHANGING_HOST_QUIT_MESSAGE = "Changing host"

ADMIN_CHAN = "" # logging chan. leave blank to disable logging
ALT_CHANS = "" # will join all of these channels upon connect if RAW_JOIN in .\settings\wolfgame.py is set to True
SPECIAL_CHAN = "" # special channel for various purposes. leave blank if you don't want the bot to join it
DEV_CHAN = "" # development chan. bot will automatically fetch updates whenever the GitHub bot joins and tells as such. ALLOW_GIT in .\settings\wolfgame.py must be True
DEV_BOT = "" # github bot's nickname, to which it will check for updates

PROJECT_NAME = "" # GitHub project name, owned by GIT_OWNER
BRANCH_NAME = "master" # GitHub branch  to look for updates
GIT_OWNER = ""

MIN_LOG_COMMANDS = ["revealroles"] # which commands to output when only MINIMALIST_LOG is enabled

PERFORM = "" # commands to perform on connect. do NOT put a / or it will not work. syntax: "COMMAND param1 param2 :data to send"
DISABLED_COMMANDS = [] # disabled commands. at least must be specified, blank if needed

SASL_AUTHENTICATION = False  # put account name in USERNAME ^ if different from nick
USE_SSL = False
DISABLE_DEBUG_MODE = False  # Entirely disable debug mode
IGNORE_HIDDEN_COMMANDS = True # Ignore commands sent to @#channel or +#channel
ALLOW_NOTICE_COMMANDS = False  # allow /notice #channel !command to be interpreted as a command
ALLOW_PRIVATE_NOTICE_COMMANDS = False  # allow !command's from /notice (Private)
PING_NOTICE = True # sends a /notice to the whole channel when !ping is used, instead of a msg
REVERSE_PING = True # needs users to send !in and !out to be pinged or not if set to True
OP_NEEDED = True # defines if the +o status is needed for the bot to work

ALLOWED_NORMAL_MODE_COMMANDS = []  # debug mode commands to be allowed in normal mode

OWNERS = ("ownerhost", )  # the comma is required at the end if there is one owner
ADMINS = ("adminhost1", "adminhost2")  # glob syntax supported (wildcards)
OWNERS_ACCOUNTS = ("owneraccount", ) # same as OWNERS, except with accounts
ADMINS_ACCOUNTS = ("adminaccount1", "adminaccount2")
ALLOW = {"cloakof/fwaiter": ("fwait",),
         "cloakof/?omeone_else": ("fday","fnight")}
DENY = {}

# Stop editing here

# Argument --debug means start in debug mode
#          --verbose means to print a lot of stuff (when not in debug mode)
import argparse
parser = argparse.ArgumentParser()
parser.add_argument('--debug', action='store_true')
parser.add_argument('--sabotage', action='store_true')
parser.add_argument('--verbose', action='store_true')

args = parser.parse_args()
DEBUG_MODE = args.debug if not DISABLE_DEBUG_MODE else False
VERBOSE_MODE = args.verbose

DEFAULT_MODULE = "sabotage" if args.sabotage else "wolfgame"
